Repository prgrms-web-devcourse/Team_WAS_YAS_FE, pull requests merged in 2021-12, with the labels that each got.

#20 feat: #5/Atom Compnent - Cotainer
  .storybook/index.css
  .storybook/preview.js
  src/components/atoms/Container/Container.tsx
  src/index.css
  src/stories/components/atoms/Container.stories.tsx
Labels: 리뷰 요청, feat, Atom

#28 refactor: #27/스타일 변수
  .eslintrc.js
  .storybook/preview-head.html
  craco.config.js
  public/index.html
  src/App.tsx
  src/components/atoms/Container/Container.tsx
  src/stories/components/atoms/Container.stories.tsx
  src/styles/colors.ts
  src/styles/font.ts
  src/styles/index.ts
  src/styles/media.ts
  src/styles/shadow.ts
Labels: refactor, 확인 요청

#33 feat: #32/Atom Component - Input
  src/components/atoms/Input/Input.tsx
  src/components/atoms/Input/index.ts
  src/components/index.ts
  src/stories/components/atoms/Input.stories.tsx
Labels: feat, Atom, 확인 요청

#36 feat: #34/Router
  package.json
  src/App.tsx
  src/index.tsx
  src/pages/etc/NotFoundPage.tsx
  src/pages/etc/index.ts
  src/pages/index.ts
  src/pages/myRoutine/MissionCreatePage.tsx
  src/pages/myRoutine/index.ts
  src/pages/routineCommunity/RoutinePostCreatePage.tsx
  src/pages/routineCommunity/index.ts
  src/routes/PreventedRoute.tsx
  src/routes/PrivateRoute.tsx
  src/routes/Router.tsx
  src/routes/index.ts
  yarn.lock
Labels: feat, Page, 확인 요청

#23 feat: #2/Atom Component - Text
  src/components/atoms/Text/Text.tsx
  src/components/atoms/Text/index.ts
  src/components/index.ts
  src/stories/components/atoms/Text.stories.tsx
Labels: 리뷰 요청, feat, Atom

#31 feat: #26/Atom Component - Icon
  src/components/atoms/Icon/ArrowBack.tsx
  src/components/atoms/Icon/ArrowForward.tsx
  src/components/atoms/Icon/Close.tsx
  src/components/atoms/Icon/Delete.tsx
  src/components/atoms/Icon/Edit.tsx
  src/components/atoms/Icon/Icon.tsx
  src/components/atoms/Icon/Like.tsx
  src/components/atoms/Icon/LikeBorder.tsx
  src/components/atoms/Icon/List.tsx
  src/components/atoms/Icon/UserProfile.tsx
  src/components/atoms/Icon/UserProfileImageUploader.tsx
  src/components/atoms/Icon/index.ts
  src/components/index.ts
  src/stories/components/atoms/Icons.stories.tsx
Labels: feat, Atom, 확인 요청

#39 refactor: #38/Container & Input 컴포넌트 타입 export 추가
  src/components/atoms/Container/Container.tsx
  src/components/atoms/Container/index.ts
  src/components/atoms/Input/Input.tsx
  src/components/atoms/Input/index.ts
  src/components/index.ts
  src/stories/components/atoms/Container.stories.tsx
  src/stories/components/atoms/Input.stories.tsx
Labels: refactor, Atom, 확인 요청

#24 feat: #4/Atom Component - NavButton
  src/components/atoms/RoundedButton/Analysis.tsx
  src/components/atoms/RoundedButton/Base.tsx
  src/components/atoms/RoundedButton/Community.tsx
  src/components/atoms/RoundedButton/Home.tsx
  src/components/atoms/RoundedButton/RoundedButton.tsx
  src/components/atoms/RoundedButton/index.ts
  src/components/index.ts
  src/stories/components/atoms/RoundedButton.stories.tsx
Labels: 리뷰 요청, feat, Atom

#44 feat: #42/Atom Component - IconButton
  src/components/atoms/Icon/ArrowBack.tsx
  src/components/atoms/IconButton/Add.tsx
  src/components/atoms/IconButton/ArrowBack.tsx
  src/components/atoms/IconButton/ArrowForward.tsx
  src/components/atoms/IconButton/Back.tsx
  src/components/atoms/IconButton/Check.tsx
  src/components/atoms/IconButton/Close.tsx
  src/components/atoms/IconButton/IconButton.tsx
  src/components/atoms/IconButton/List.tsx
  src/components/atoms/IconButton/UserProfile.tsx
  src/components/atoms/IconButton/index.ts
  src/components/index.ts
  src/hooks/index.ts
  src/hooks/useHover.ts
  src/stories/components/atoms/IconButton.stories.tsx
  src/stories/hooks/userHover.stories.tsx
Labels: feat, Atom, 확인 요청

#29 feat: #3/Atom Component - CategoryButton
  src/components/atoms/CategoryButton/CategoryButton.tsx
  src/components/atoms/CategoryButton/index.ts
  src/components/index.ts
  src/stories/components/atoms/Category.stories.tsx
Labels: 리뷰 요청, feat, Atom

#35 feat: #30/Atom Component - Button
  src/components/atoms/Button/Button.tsx
  src/components/atoms/Button/index.ts
  src/components/index.ts
  src/stories/components/atoms/Button.stories.tsx
Labels: 리뷰 요청, feat, Atom

#49 feat: #45/ Molrecules Component - EditBox & DeleteBox
  src/components/index.ts
  src/components/molecules/ToolBox/Container.tsx
  src/components/molecules/ToolBox/DeleteBox.tsx
  src/components/molecules/ToolBox/EditBox.tsx
  src/components/molecules/ToolBox/index.ts
  src/hooks/index.ts
  src/hooks/useClickAway.js
  src/stories/components/molecules/DeleteBox.stories.tsx
  src/stories/components/molecules/EditBox.stories.tsx
  src/stories/components/molecules/index.stories.tsx
Labels: feat, Molecule, 확인 요청

#53 chore: js, ts 혼용사용 가능하도록 eslintrc 파일 수정
  .eslintrc.js
Labels: 확인 요청, chore

#61 feat: #58/Template Component - Header
  src/components/atoms/IconButton/Back.tsx
  src/components/atoms/IconButton/UserProfile.tsx
  src/components/index.ts
  src/components/molecules/ToolBox/index.ts
  src/components/molecules/index.ts
  src/components/templates/Container/Container.tsx
  src/components/templates/Container/index.ts
  src/components/templates/Header/Header.tsx
  src/components/templates/Header/index.ts
  src/components/templates/index.ts
  src/pages/myRoutine/MyRoutinePage.tsx
  src/stories/components/molecules/DeleteBox.stories.tsx
  src/stories/components/molecules/EditBox.stories.tsx
  src/stories/components/templates/Container.stories.tsx
  src/stories/components/templates/Header.stories.tsx
  src/stories/components/templates/index.stories.tsx
Labels: feat, Template, 확인 요청

#46 feat: #43/Molecule Component - NavBar
  src/components/index.ts
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/NavBar/index.ts
  src/stories/components/molecules/NavBar.stories.tsx
Labels: 리뷰 요청, feat, Molecule

#56 feat: #48/Molecule Component - Routine
  src/components/index.ts
  src/components/molecules/Routine/CheckComplete.tsx
  src/components/molecules/Routine/Routine.tsx
  src/components/molecules/Routine/ToolBoxButtonIcon.tsx
  src/components/molecules/Routine/index.ts
  src/stories/components/molecules/Routine.stories.tsx
  src/utils/time.ts
Labels: 리뷰 요청, feat, Molecule

#57 feat: #55/Organism Component - RoutineAddComponent
  src/components/atoms/Icon/Add.tsx
  src/components/atoms/Icon/Community.tsx
  src/components/atoms/Icon/Icon.tsx
  src/components/index.ts
  src/components/organisms/RoutineAddButton/RoutineAddButton.tsx
  src/components/organisms/RoutineAddButton/index.ts
  src/routes/Router.tsx
  src/stories/components/atoms/Icons.stories.tsx
  src/stories/components/organisms/RoutineAddButton.stories.tsx
  src/stories/components/organisms/index.stories.tsx
Labels: 리뷰 요청, feat, Organism

#47 feat: #41/Molecule Component - TabBar
  src/components/index.ts
  src/components/molecules/TabBar/TabBar.tsx
  src/components/molecules/TabBar/TabItem.tsx
  src/components/molecules/TabBar/index.ts
  src/stories/components/molecules/TabBar.stories.tsx
Labels: 리뷰 요청, feat, Molecule

#52 feat: #51/Molecule Component - RoutineCategory & RoutineCategorySelector
  src/components/atoms/CategoryButton/index.ts
  src/components/atoms/RoutineCategory/RoutineCategory.tsx
  src/components/atoms/RoutineCategory/index.ts
  src/components/index.ts
  src/components/molecules/RoutineCategorySelector/RoutineCategoryItem.tsx
  src/components/molecules/RoutineCategorySelector/RoutineCategorySelector.tsx
  src/components/molecules/RoutineCategorySelector/index.ts
  src/stories/components/atoms/Category.stories.tsx
  src/stories/components/atoms/RoutineCategory.stories.tsx
  src/stories/components/molecules/RoutineCategorySelector.stories.tsx
Labels: 리뷰 요청, feat, Molecule

#68 feat: #59/Molecule Component - Mission
  src/components/index.ts
  src/components/molecules/Mission/Mission.tsx
  src/components/molecules/Mission/index.ts
  src/components/molecules/ToolBox/DeleteBox.tsx
  src/components/molecules/ToolBox/EditBox.tsx
  src/stories/components/molecules/Mission.stories.tsx
Labels: feat, Molecule, 확인 요청

#71 feat: #70/Molecule Component - RoutineInfo
  src/components/index.ts
  src/components/molecules/Mission/Mission.tsx
  src/components/molecules/RoutineInfo/RoutineInfo.tsx
  src/components/molecules/RoutineInfo/index.ts
  src/stories/components/molecules/RoutineInfo.stories.tsx
  src/utils/time.ts
Labels: feat, Molecule, 확인 요청

#66 feat: #60/Molecule Component - ColorPalette
  src/components/index.ts
  src/components/molecules/ColorPalette/ColorItem.tsx
  src/components/molecules/ColorPalette/ColorPalette.tsx
  src/components/molecules/ColorPalette/index.ts
  src/stories/components/molecules/ColorPalette.stories.tsx
Labels: feat, Molecule, 확인 요청

#69 feat: #67/Molecule Component - DaySelector
  src/components/index.ts
  src/components/molecules/DaySelector/DayItem.tsx
  src/components/molecules/DaySelector/DaySelector.tsx
  src/components/molecules/DaySelector/index.ts
  src/stories/components/molecules/DaySelector.stories.tsx
Labels: feat, Molecule, 확인 요청

#54 feat: #40/Atom Component - LikeBox
  .eslintrc.js
  src/components/atoms/LikeBox/LikeBox.tsx
  src/components/atoms/LikeBox/index.ts
  src/components/index.ts
  src/hooks/index.ts
  src/hooks/useToggle.ts
  src/stories/components/atoms/LikeBox.stories.tsx
  src/stories/components/molecules/DeleteBox.stories.tsx
  src/stories/components/molecules/EditBox.stories.tsx
Labels: feat, Atom, 피드백 반영 완료, 재확인 요청

#63 feat: #62/Page Component - SignInPage & Spinner
  package.json
  src/components/atoms/Input/Input.tsx
  src/components/atoms/Portal/Portal.tsx
  src/components/atoms/Portal/index.ts
  src/components/atoms/Spinner/Spinner.tsx
  src/components/atoms/Spinner/index.ts
  src/components/index.ts
  src/components/templates/Container/Container.tsx
  src/components/templates/Header/Header.tsx
  src/components/templates/NavBar/NavBar.tsx
  src/components/templates/NavBar/index.ts
  src/pages/user/SignInPage.tsx
  src/stories/components/atoms/Spinner.stories.tsx
  src/stories/components/templates/Container.stories.tsx
  src/stories/components/templates/NavBar.stories.tsx
  src/stories/pages/SignInPage.stories.tsx
  yarn.lock
Labels: feat, Page, 확인 요청

#75 feat: #73/API & Model
  src/api/index.ts
  src/apis/api.js
  src/apis/index.ts
  src/apis/types.ts
Labels: feat, 확인 요청, API

#98 refactor: #93/RoutineCategorySelector 로직 리팩토링 진행
  src/components/index.ts
  src/components/molecules/RoutineCategorySelector/RoutineCategoryItem.tsx
  src/components/molecules/RoutineCategorySelector/RoutineCategorySelector.tsx
  src/components/molecules/RoutineCategorySelector/index.ts
  src/stories/components/molecules/RoutineCategorySelector.stories.tsx
Labels: refactor, Molecule, 확인 요청

#82 feat: #80/Organism Component - EmojiPicker
  src/components/index.ts
  src/components/organisms/EmojiPicker/EmojiPicker.tsx
  src/components/organisms/EmojiPicker/index.ts
  src/stories/components/organisms/EmojiPicker.stories.tsx
Labels: feat, Organism, 확인 요청

#92 feat: #81/Organism Component - StartTimePicker
  package-lock.json
  package.json
  src/components/index.ts
  src/components/organisms/StartTimePicker/StartTimePicker.tsx
  src/components/organisms/StartTimePicker/index.ts
  src/stories/components/organisms/StartTimePicker.stories.tsx
  yarn.lock
Labels: feat, Organism, 확인 요청

#77 feat: #65/Page Component - SignUpPage
  src/pages/user/SignInPage.tsx
  src/pages/user/SignUpPage.tsx
  src/stories/pages/SIgnUpPage.stories.tsx
  src/stories/pages/SignInPage.stories.tsx
  src/stories/pages/index.stories.tsx
Labels: feat, Page, 확인 요청

#83 feat: #76/Page Component - UserPage & UserEditPage
  src/Models/dummy.ts
  src/Models/index.ts
  src/components/organisms/index.ts
  src/pages/user/UserEditPage.tsx
  src/pages/user/UserPage.tsx
  src/stories/pages/UserEditPage.stories.tsx
  src/stories/pages/UserPage.stories.tsx
Labels: feat, Page, 확인 요청

#102 feat: #90/Molecules Component - CommentCreator
  src/components/index.ts
  src/components/molecules/CommentCreator/CommentCreator.tsx
  src/components/molecules/CommentCreator/index.ts
  src/stories/components/molecules/CommentCreator.stories.tsx
Labels: feat, Molecule

#78 feat: #72/Page Component - MyRoutinePage
  src/components/molecules/Routine/CheckComplete.tsx
  src/components/molecules/Routine/Routine.tsx
  src/pages/myRoutine/MyRoutinePage.tsx
  src/stories/pages/MyRoutinePage.stories.tsx
Labels: feat, Page, 확인 요청

#86 feat: #79/Page Component - RoutineCoummunityPage
  .eslintrc.js
  src/pages/routineCommunity/RoutineCommunityPage.tsx
  src/stories/pages/RoutineCommunityPage.stories.tsx
Labels: 리뷰 요청, feat, Page

#101 feat: #97/Page Component - RoutineDetailPage
  src/pages/myRoutine/RoutineDetailPage.tsx
  src/stories/pages/RoutineDetailPage.stories.tsx
Labels: feat, Page, 확인 요청

#94 feat: #91/Organism Component - RoutineProgressModal
  src/components/molecules/Routine/Routine.tsx
  src/components/organisms/RoutineProgressModal/RoutineProgressModal.tsx
  src/components/organisms/RoutineProgressModal/index.ts
  src/stories/components/organisms/RoutineProgressModal.stories.tsx
Labels: feat, Organism, 확인 요청

#104 feat: #103/Organism Component - Comment
  package.json
  src/components/atoms/LikeBox/LikeBox.tsx
  src/components/index.ts
  src/components/organisms/Comment/Comment.tsx
  src/components/organisms/Comment/Editor.tsx
  src/components/organisms/Comment/index.ts
  src/stories/components/organisms/Comment.stories.tsx
  yarn.lock
Labels: feat, Organism, 확인 요청

#106 feat: #99/Page Component - RoutineCreatePage
  src/components/atoms/Button/Button.tsx
  src/components/molecules/ColorPalette/ColorItem.tsx
  src/components/molecules/ColorPalette/ColorPalette.tsx
  src/components/molecules/DaySelector/DayItem.tsx
  src/components/molecules/DaySelector/DaySelector.tsx
  src/components/molecules/Routine/Routine.tsx
  src/components/molecules/RoutineCategorySelector/RoutineCategoryItem.tsx
  src/components/molecules/RoutineCategorySelector/RoutineCategorySelector.tsx
  src/components/organisms/EmojiPicker/EmojiPicker.tsx
  src/pages/myRoutine/RoutineCreatePage.tsx
  src/pages/routineCommunity/RoutineCommunityPage.tsx
  src/stories/components/molecules/Routine.stories.tsx
  src/stories/pages/RoutineCreatePage.stories.tsx
Labels: 리뷰 요청, feat, Page

#109 feat: #108/Organism Component - DurationTimePicker
  src/components/index.ts
  src/components/organisms/DurationTimePicker/DurationTimePicker.tsx
  src/components/organisms/DurationTimePicker/index.ts
  src/stories/components/organisms/DuratrionTimePicker.stories.tsx
Labels: feat, Organism, 확인 요청

#115 feat: #105/Page Component - RoutinePostDetailPage
  src/Models/dummy.ts
  src/Models/index.ts
  src/components/molecules/CommentCreator/CommentCreator.tsx
  src/constants/index.ts
  src/pages/routineCommunity/RoutinePostDetailPage.tsx
Labels: feat, Page, 확인 요청

#113 feat: #100/Page Component - MissionCreatePage
  src/pages/myRoutine/MissionCreatePage.tsx
  src/stories/pages/MissionCreatePage.stories.tsx
Labels: 리뷰 요청, feat, Page

#117 feat: #114/Page Component - RoutineFinishPage
  src/components/index.ts
  src/components/organisms/RoutineProgressModal/RoutineProgress.tsx
  src/components/organisms/RoutineProgressModal/index.ts
  src/pages/myRoutine/RoutineFinishPage.tsx
  src/stories/pages/RoutineFinishPage.stories.tsx
Labels: feat, Page, 확인 요청

#121 feat: #119/Page Component - RoutineUpdatePage
  src/components/index.ts
  src/components/molecules/ColorPalette/ColorPalette.tsx
  src/components/molecules/DaySelector/DayItem.tsx
  src/components/molecules/DaySelector/DaySelector.tsx
  src/components/molecules/DaySelector/index.ts
  src/components/molecules/RoutineCategorySelector/RoutineCategoryItem.tsx
  src/components/molecules/RoutineCategorySelector/RoutineCategorySelector.tsx
  src/constants/index.ts
  src/pages/myRoutine/RoutineCreatePage.tsx
  src/pages/myRoutine/RoutineUpdatePage.tsx
  src/pages/myRoutine/index.ts
  src/pages/routineCommunity/RoutineCommunityPage.tsx
  src/routes/Router.tsx
  src/stories/components/molecules/DaySelector.stories.tsx
  src/stories/pages/RoutineUpdatePage.stories.tsx
Labels: feat, Page, 확인 요청

#124 feat: #123/Page Component - NotFound & Analysis Page
  src/images/notFoundImg.png
  src/images/prepareImg.png
  src/pages/analysis/AnalysisPage.tsx
  src/pages/etc/NotFoundPage.tsx
  src/stories/pages/AnalysisPage.stories.tsx
  src/stories/pages/NotFoundPage.stories.tsx
Labels: feat, Page, 확인 요청

#122 refactor: #116/Template Component - Container
  src/components/templates/Container/Container.tsx
  src/components/templates/Header/Header.tsx
Labels: refactor, Template, 확인 요청

#130 feat: #111/API
  src/Models/dummy.ts
  src/Models/types.ts
  src/apis/api.js
  src/apis/config.ts
  src/apis/index.ts
  src/apis/mission.ts
  src/apis/routine.ts
  src/apis/user.ts
  src/components/organisms/Comment/Comment.tsx
  src/pages/routineCommunity/RoutinePostDetailPage.tsx
  src/pages/user/SignInPage.tsx
  src/pages/user/SignUpPage.tsx
  src/pages/user/UserEditPage.tsx
  src/pages/user/UserPage.tsx
  src/routes/Router.tsx
  src/stories/components/organisms/Comment.stories.tsx
Labels: feat, 확인 요청, API

#135 refactor: #129/API - RoutineCreatePage
  src/Models/dummy.ts
  src/Models/types.ts
  src/apis/routine.ts
  src/components/atoms/Button/Button.tsx
  src/components/molecules/Routine/Routine.tsx
  src/components/molecules/RoutineInfo/RoutineInfo.tsx
  src/components/molecules/TabBar/TabBar.tsx
  src/constants/index.ts
  src/pages/myRoutine/MyRoutinePage.tsx
  src/pages/myRoutine/RoutineCreatePage.tsx
  src/pages/myRoutine/RoutineDetailPage.tsx
  src/pages/myRoutine/RoutineUpdatePage.tsx
  src/pages/routineCommunity/RoutineCommunityPage.tsx
  src/pages/routineCommunity/RoutinePostCreatePage.tsx
  src/pages/routineCommunity/RoutinePostDetailPage.tsx
  src/stories/components/molecules/Routine.stories.tsx
Labels: refactor, Page, 확인 요청, API

#134 feat: #133/Store - User
  package.json
  src/apis/index.ts
  src/apis/user.ts
  src/index.tsx
  src/pages/user/SignInPage.tsx
  src/pages/user/SignUpPage.tsx
  src/pages/user/UserEditPage.tsx
  src/pages/user/UserPage.tsx
  src/store/index.ts
  src/store/routine.ts
  src/store/user.ts
  yarn.lock
Labels: feat, 확인 요청, store

#127 refactor: #125/Page Component - MissionCreatePage
  src/Models/dummy.ts
  src/Models/types.ts
  src/apis/mission.ts
  src/components/molecules/Mission/Mission.tsx
  src/components/organisms/DurationTimePicker/DurationTimePicker.tsx
  src/pages/myRoutine/MissionCreatePage.tsx
  src/pages/myRoutine/RoutineCreatePage.tsx
  src/pages/myRoutine/RoutineDetailPage.tsx
  src/pages/myRoutine/RoutineUpdatePage.tsx
  src/stories/components/molecules/Mission.stories.tsx
Labels: refactor, Page, 진행중, API

#136 refactor: #120/Page Component - MyRoutinePage
  src/apis/routine.ts
  src/components/molecules/Routine/Routine.tsx
  src/pages/myRoutine/MyRoutinePage.tsx
  src/stories/components/molecules/Routine.stories.tsx
Labels: refactor, Page, 확인 요청, API

#107 feat: #95/Page Component - RoutineProgressPage
  src/components/atoms/RoundedButton/Play.tsx
  src/components/molecules/Routine/Routine.tsx
  src/components/organisms/RoutineProgressModal/RoutineProgress.tsx
  src/components/organisms/RoutineProgressModal/RoutineProgressModal.tsx
  src/hooks/useInterval.js
  src/pages/myRoutine/RoutineFinishPage.tsx
  src/pages/myRoutine/RoutineProgressPage.tsx
  src/stories/components/atoms/RoundedButton.stories.tsx
  src/stories/components/organisms/RoutineProgressModal.stories.tsx
  src/utils/time.ts
Labels: 리뷰 요청, feat, Page, 피드백 반영 완료

#142 refactor: #138/API - RoutinePostPage
  src/apis/index.ts
  src/apis/post.ts
  src/pages/routineCommunity/RoutinePostCreatePage.tsx
Labels: refactor, Page, 확인 요청, API

#141 refactor: #118/Page Component - RoutinePostDetailPage
  src/Models/dummy.ts
  src/components/atoms/Icon/Like.tsx
  src/components/atoms/Icon/LikeBorder.tsx
  src/components/atoms/LikeBox/LikeBox.tsx
  src/components/index.ts
  src/components/molecules/SpreadToggle/SpreadToggle.tsx
  src/components/molecules/SpreadToggle/index.ts
  src/components/organisms/Comment/Comment.tsx
  src/components/organisms/Comment/Editor.tsx
  src/pages/routineCommunity/RoutinePostDetailPage.tsx
  src/stories/components/molecules/SpreadToggle.stories.tsx
Labels: refactor, Page, 확인 요청

#140 refactor: #128/API - RoutineUpdatePage
  src/components/molecules/DaySelector/DaySelector.tsx
  src/components/molecules/Routine/Routine.tsx
  src/pages/myRoutine/RoutineCreatePage.tsx
  src/pages/myRoutine/RoutineUpdatePage.tsx
Labels: refactor, Page, 확인 요청, API

#145 style: #144/Page Component - RoutineCreate, MissionCreate, RoutinePost
  src/pages/myRoutine/MissionCreatePage.tsx
  src/pages/myRoutine/RoutineCreatePage.tsx
  src/pages/routineCommunity/RoutinePostCreatePage.tsx
Labels: style, Page, 확인 요청

#146 refactor: #131/API - RoutineDetailPage
  package.json
  src/components/index.ts
  src/components/molecules/Mission/DraggableMission.tsx
  src/components/molecules/Mission/index.ts
  src/components/molecules/RoutineInfo/RoutineInfo.tsx
  src/pages/myRoutine/MyRoutinePage.tsx
  src/pages/myRoutine/RoutineDetailPage.tsx
  yarn.lock
Labels: refactor, Page, 확인 요청, API

#152 refactor: #151/Tempalte Component - Container
  src/components/templates/Header/BackButton.tsx
  src/components/templates/Header/Header.tsx
  src/pages/user/SignInPage.tsx
  src/pages/user/UserPage.tsx
  src/routes/PrivateRoute.tsx
  src/store/index.ts
  src/store/root.ts
  src/store/routine.ts
  src/store/user.ts
Labels: refactor, Template, 확인 요청

#156 feat: #155/RoutinePost & RoutineCommunityPage
  src/Models/index.ts
  src/Models/types.ts
  src/components/atoms/LikeBox/LikeBox.tsx
  src/components/index.ts
  src/components/organisms/RoutinePost/RoutinePost.tsx
  src/components/organisms/RoutinePost/index.tsx
  src/pages/routineCommunity/RoutineCommunityPage.tsx
  src/pages/routineCommunity/RoutinePostDetailPage.tsx
  src/stories/components/organisms/RoutinePost.stories.tsx
Labels: feat, Organism, 진행중

#158 feat: #153/Page Component - OnBoardingPage
  src/images/myRoutine.png
  src/images/routineDetail.png
  src/pages/etc/OnBoardingPage.tsx
  src/pages/etc/index.ts
  src/pages/index.ts
  src/pages/routineCommunity/RoutinePostCreatePage.tsx
  src/routes/Router.tsx
Labels: feat, Page, 확인 요청

#163 refactor: #161/RoutineCommunityPage
  src/Models/types.ts
  src/apis/index.ts
  src/apis/like.ts
  src/apis/post.ts
  src/components/atoms/IconButton/Add.tsx
  src/components/atoms/IconButton/Delete.tsx
  src/components/atoms/IconButton/IconButton.tsx
  src/components/atoms/LikeBox/LikeBox.tsx
  src/components/index.ts
  src/components/molecules/LoginGuide/LoginGuide.tsx
  src/components/molecules/LoginGuide/index.tsx
  src/components/organisms/Comment/Comment.tsx
  src/components/organisms/RoutinePost/RoutinePost.tsx
  src/components/templates/Header/Header.tsx
  src/components/templates/NavBar/NavBar.tsx
  src/pages/myRoutine/RoutineDetailPage.tsx
  src/pages/routineCommunity/RoutineCommunityPage.tsx
  src/pages/routineCommunity/RoutinePostDetailPage.tsx
  src/pages/user/SignInPage.tsx
  src/pages/user/SignUpPage.tsx
  src/stories/components/atoms/IconButton.stories.tsx
  src/utils/auth.ts
  src/utils/index.ts
Labels: feat, Page, 확인 요청, API

#164 refactor: #159/API - RoutineFinishPage
  src/components/organisms/RoutineProgressModal/RoutineProgress.tsx
  src/components/organisms/RoutineProgressModal/RoutineProgressModal.tsx
  src/pages/myRoutine/MyRoutinePage.tsx
  src/pages/myRoutine/RoutineDetailPage.tsx
  src/pages/myRoutine/RoutineFinishPage.tsx
  src/pages/myRoutine/RoutineProgressPage.tsx
Labels: refactor, Page, 확인 요청, API

#165 feat: #162/Page Component - RoutinePostWritePage
  src/Models/dummy.ts
  src/Models/types.ts
  src/apis/post.ts
  src/pages/index.ts
  src/pages/myRoutine/RoutineCreatePage.tsx
  src/pages/myRoutine/RoutineUpdatePage.tsx
  src/pages/routineCommunity/RoutinePostCreatePage.tsx
  src/pages/routineCommunity/RoutinePostWritePage.tsx
  src/pages/routineCommunity/index.ts
  src/routes/Router.tsx
  src/stories/components/molecules/Routine.stories.tsx
  src/stories/pages/RoutinePostWritePage.stories.tsx
Labels: feat, Page, 확인 요청, API

#171 refactor: #167/API - RoutineCreatePage
  src/apis/routine.ts
  src/pages/myRoutine/RoutineCreatePage.tsx
  src/pages/routineCommunity/RoutinePostDetailPage.tsx
Labels: refactor, Page, API

#174 refactor: #173/ Page Component - RoutineCommunityPage
  src/Models/types.ts
  src/components/atoms/LikeBox/LikeBox.tsx
  src/components/molecules/CommentCreator/CommentCreator.tsx
  src/components/organisms/RoutinePost/RoutinePost.tsx
  src/pages/routineCommunity/RoutinePostDetailPage.tsx
  src/stories/components/atoms/LikeBox.stories.tsx
Labels: fix, refactor, 확인 요청, API

#172 refactor: #169/RoutineProgressPage
  src/pages/myRoutine/MyRoutinePage.tsx
  src/pages/myRoutine/RoutineDetailPage.tsx
  src/pages/myRoutine/RoutineFinishPage.tsx
  src/pages/myRoutine/RoutineProgressPage.tsx
Labels: refactor, Page, 확인 요청, API

#176 refactor: #168/ Page Component - OnBoardingPage
  src/images/index.ts
  src/images/intro.png
  src/images/myRoutine.png
  src/images/notFound.png
  src/images/postDetail.png
  src/images/prepare.png
  src/images/routineCommunity.png
  src/images/routineCreate.png
  src/images/routineDetail.png
  src/images/routineProgress.png
  src/pages/analysis/AnalysisPage.tsx
  src/pages/etc/NotFoundPage.tsx
  src/pages/etc/OnBoardingPage.tsx
  src/pages/myRoutine/MissionCreatePage.tsx
  src/pages/myRoutine/RoutineUpdatePage.tsx
  src/pages/user/SignInPage.tsx
  src/stories/pages/OnBoardingPage.stories.tsx
Labels: refactor, Page, 확인 요청

#178 docs: #177/README 작성
  README.md
Labels: docs

#180 refactor: #179/RoutineUploadButton
  src/components/atoms/IconButton/Add.tsx
  src/components/atoms/IconButton/IconButton.tsx
  src/components/atoms/IconButton/RoutineUpload.tsx
  src/pages/routineCommunity/RoutineCommunityPage.tsx
  src/stories/components/atoms/IconButton.stories.tsx
  src/styles/shadow.ts
Labels: refactor
